VOID Working Magnum BLM Dashboard - Acreage.twbx

INTERNAL Magnum BLM Dashboard - Acreage.twbx

Updated R&R & Magnum Master - BLM Leases.xlsx

.DS_Store

.ipynb_checkpoints/

db_config.py

Flat File BLM Master Spreadsheet - Clean for Tableau.ipynb

__pycache__

VOID - Old Version Magnum Website Dashboard - Acreage.twbx