VOID Working Magnum BLM Dashboard - Acreage.twbx
INTERNAL Magnum BLM Dashboard - Acreage.twbx
Updated R&R & Magnum Master - BLM Leases.xlsx
.DS_Store
.ipynb_checkpoints/
1. Magnum BLM Master - BLM Spreadsheet vs. GIS Shapefile.ipynb